
  ion-card-title {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
   
  }
  
  h2 {
    font-size: 2.4rem;
    color: #28a745;
    margin: 0;
  }
  .custom-card {
    background-color: #f0f8ff; /* Couleur de fond */
    border-radius: 8px; /* Optionnel : adoucit les coins */
    padding: 15px; /* Optionnel : ajoute du padding */
  }
  
  