<ion-card>
  <!-- <ion-card-header>
    <ion-card-title>
      Transactions
      <ion-buttons slot="end">
        <ion-button (click)="presentPopover($event)">
          <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-card-title>
  </ion-card-header> -->
  <ion-card-header>
    <ion-card-title  style="color: #3498db; font-weight: bold;">
      <ion-icon aria-hidden="true" name="cash-outline"></ion-icon>
      Transactions</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-list>
      <ion-item *ngFor="let transaction of transactions; let i = index"  [ngClass]="{'odd-item': i % 2 === 0, 'even-item': i % 2 !== 0}">
        <ion-label>
          <h2>Customer: {{ transaction.customer }}</h2>
          <p>Transaction ID: {{ transaction.transactionId }}</p>
          <p>Date: {{ transaction.date | date }}</p>
          <p>Amount: {{ transaction.amount | currency:'USD' }}</p>
        </ion-label>

        <!-- Button 'More' for each transaction item -->
        <ion-buttons slot="end">
          <ion-button (click)="openTransactionOptions(transaction)">
            <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
