ion-item {
    --background: white;
  }
  
  .odd-item {
    --background: white; /* Couleur blanche pour les items impairs */
  }
  
  .even-item {
    --background: #f2f2f2; /* Couleur gris clair pour les items pairs */
  }
  