ion-item {
    --background: white;
  }
  
  // .odd-item {
  //   --background: white; /* Couleur blanche pour les items impairs */
  // }
  
  // .even-item {
  //   --background: #f2f2f2; /* Couleur gris clair pour les items pairs */
  // }
  
  .transactions-card {
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  
    ion-card-title {
      font-size: 18px;
      font-weight: bold;
    }
  
    ion-card-content {
      padding: 10px;
    }
  }
  
  // .scrollable-list {
  //   max-height: 400px; /* Limiter la hauteur */
  //   overflow-y: auto;  /* Activer le défilement vertical */
  // }

  .floating-btn {
    position: fixed; /* Fixe le bouton à une position spécifique dans la fenêtre */
    bottom: 20px; /* Ajuste l'espace depuis le bas de la fenêtre */
    right: 20px; /* Ajuste l'espace depuis le côté droit de la fenêtre */
    border-radius: 50%; /* Rend le bouton circulaire */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ajoute une ombre pour l'effet flottant */
    background-color: #3498db; /* Couleur personnalisée pour le bouton */
    color: white; /* Couleur de l'icône */
    z-index: 1000; /* Assure-toi que le bouton est au-dessus des autres éléments */
    width: 25px; /* Taille personnalisée du bouton */
    height: 25px; /* Taille personnalisée du bouton */
  }
  
  // .floating-btn ion-icon {
  //   font-size: 24px; /* Ajuste la taille de l'icône */
  // }


  //*****************************************************
  /* Style de la section de filtre et tri */
.filter-sort-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.sort-item {
  flex-grow: 1;
  margin-right: 10px;
}

.search-bar, .filter-item {
  margin-bottom: 15px;
}

/* Limite de hauteur pour la liste et ajout du défilement */
.scrollable-list {
  max-height: 300px; /* Ajuste la hauteur selon tes besoins */
  overflow-y: auto;
  padding-top: 10px;
  border-top: 1px solid #dcdcdc;
}

/* Alternance des couleurs de fond pour différencier les items */
.odd-item {
  background-color: #f9f9f9;
}

.even-item {
  background-color: #ffffff;
}

/* Style pour le bouton flottant */
.floating-btn {
  position: absolute;
  top: -15px;
  right: -10px;
}

  
 
  