<ion-card>
  <ion-card-header>
    <ion-card-title  style="color: #3498db; font-weight: bold;">
      <ion-icon name="calendar-outline"></ion-icon>
      Calendar</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item>
      <ion-label>
        <h2>Manage Your Events</h2>
        <p>Select a date to view events.</p>
      </ion-label>
    </ion-item>

    <!-- Calendar using ion-datetime -->
    <ion-item>
      <ion-datetime presentation="date" [(ngModel)]="selectedDate"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Selected Date: {{ selectedDate | date }}</ion-label>
    </ion-item>

    <!-- Actions for the Calendar -->
    <ion-button expand="block" (click)="viewEvents()">
      View Events for Selected Date
    </ion-button>
    Or,
     <!-- Actions for the Calendar -->
     <ion-button expand="block" (click)="viewEvents()">
      Create Events for Selected Date
    </ion-button>

  </ion-card-content>
</ion-card>
