<ion-header>
  <ion-toolbar>
    <ion-title>Create Account</ion-title>
    <ion-buttons slot="end">
      <ion-button >
        <ion-icon slot="icon-only" name="help-circle"></ion-icon>
      </ion-button>
    </ion-buttons>  
    <ion-buttons slot="end">
      <ion-button >
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>  
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="create-account-container">
    <h2 class="header-text">SMARTPAY</h2>
    <p class="sub-header-text">Join us to access exclusive content!</p>

    <form (submit)="onCreateAccount()">
      <ion-item>
        <ion-label position="floating">Username</ion-label>
        <ion-input type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email address</ion-label>
        <ion-input type="email" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">First name</ion-label>
        <ion-input type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Last name</ion-label>
        <ion-input type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">City/town</ion-label>
        <ion-input type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Country</ion-label>
        <ion-select [(ngModel)]="selectedCountry" name="selectedCountry" placeholder="Select Country" required>
          <ion-select-option *ngFor="let country of countries" [value]="country">
            {{ country }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="none" class="terms">
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>I agree to the <a href="#">Terms & Conditions</a></ion-label>
      </ion-item>

      <ion-button expand="full" expand="full" type="submit">Sign Up</ion-button>

      <ion-button expand="full" fill="outline"  (click)="goToLogin()"  >Already have an account? Log In</ion-button>
    </form>
  </div>
</ion-content>
