/* payment-modal.component.scss */

ion-header {
    background: #f8f8f8;
  }
  
  ion-content {
    --padding-top: 20px; /* Ajustez la marge supérieure si nécessaire */
  }
  
  ion-list {
    padding: 0;
  }
  /* global.scss ou votre fichier de styles */
.my-custom-modal {
  --width: 90%; /* Ajuste la largeur du modal */
  --max-width: 600px; /* Ajuste la largeur maximale */
  --background: white; /* Couleur de fond du modal */
  border-radius: 8px; /* Coins arrondis */
}

.alert-modal-content {
  --background: white; /* Couleur de fond du modal */
  border-radius: 8px; /* Coins arrondis */
}

.alert-modal-body {
  padding: 20px;
  text-align: left;
}


  