<ion-header>
  <ion-toolbar>
    <ion-title>Détails du Paiement</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Fermer</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Montant</ion-label>
      <ion-text>{{ transaction.totalPrice | currency:'USD' }}</ion-text>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Taxes</ion-label>
      <ion-text>{{ transaction.taxes | currency:'USD' }}</ion-text>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Coupons</ion-label>
      <ion-text>{{ transaction.coupons | currency:'USD' }}</ion-text>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Total</ion-label>
      <ion-text>{{ transaction.finalTotal | currency:'USD' }}</ion-text>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Méthodes de Paiement</ion-label>
      <ion-text>Carte de Crédit, PayPal, etc.</ion-text>
    </ion-item>
  </ion-list>

  <ion-button expand="full" color="primary" (click)="sendPaymentLink()">Envoyer le Lien de Paiement</ion-button>
</ion-content>
