/* timeline-card.component.scss */
ion-card {
  margin: 16px;
  padding: 16px;
}

ion-card-title {
  font-size: 1.5em;
  font-weight: bold;
}

ion-item {
  margin-bottom: 12px;
}

ion-input {
  --padding-start: 0;
}

ion-button {
  --padding-start: 0;
}

ion-select {
  --padding: 0;
}
.logout-button {
  --background: #aad1fe; /* Bleu ciel */
  --color: white; /* Texte blanc */
  --border-radius: 0px; /* Coins arrondis */
  --padding-start: 16px; /* Espacement à gauche */
  --padding-end: 16px; /* Espacement à droite */
  --margin-top: 32px; /* Pour pousser le bouton vers le bas */
  --margin-bottom: 0px; /* Espacement en bas */
}

.logout-button ion-icon {
  color: white; /* Icône en blanc */
}

ion-footer {
  padding: 0; /* Retirer le padding du footer */
}
