<ion-header [translucent]="false">
  <ion-toolbar>
  
    <ion-buttons slot="start">
      <ion-button (click)="openMenu()">
        <ion-icon name="person-circle-outline" style="font-size: 30px; color: #3498db;" ></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title style="color:black; ">
      Dashboard
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentActionSheet()">
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content">  
        <app-balance-card></app-balance-card>  
        <app-transactions-card></app-transactions-card> 
        <app-overview-card></app-overview-card>
        <!-- <app-timeline></app-timeline> -->
        <app-calendar-card></app-calendar-card>
</ion-content>

<app-lateral-menu></app-lateral-menu>



