// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
    --ion-color-primary: #aad1fe;
    --ion-color-primary-rgb: 56, 128, 255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #3171e0;
    --ion-color-primary-tint: #4c8dff;
    /* Autres couleurs ... */
  }
  



  .my-custom-modal-wrapper {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    height: 100%; /* Assure que le wrapper prend toute la hauteur de l'écran */
  }
  
  .my-custom-modal {
    --width: 350px; /* Largeur fixe pour un carré */
    --height: 400px; /* Hauteur égale à la largeur pour obtenir un carré */
    --background: white; /* Couleur de fond */
    // border-radius: 8px; /* Coins arrondis pour le carré */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre pour donner un effet de profondeur */
  
    /* Centrer le contenu à l'intérieur du modal */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    padding: 20px; /* Espacement interne */
    overflow: hidden; /* Masquer tout débordement */
  }
  




  
  
  
  