

.transaction-card {
    display: flex;
    flex-direction: column; /* Aligne les éléments verticalement */
    height: 100%; /* Permet à la carte d'utiliser toute la hauteur disponible */
  }
  
  .transaction-card ion-card-content {
    flex: 1; /* Permet à ce conteneur d'utiliser tout l'espace disponible */
    display: flex;
    flex-direction: column; /* Permet d'aligner le bouton en bas */
    justify-content: space-between; /* Écarte le contenu pour que le bouton soit en bas */
  }
  /* global.scss ou votre fichier de styles */
.my-custom-modal {
    --width: 90%; /* Ajuste la largeur du modal */
    --max-width: 600px; /* Ajuste la largeur maximale */
    --background: white; /* Couleur de fond du modal */
    border-radius: 8px; /* Coins arrondis */
  }
  .alert-custom {
    --background: #f9f9f9; /* Couleur de fond */
    --color: #333; /* Couleur du texte */
    --border-radius: 10px; /* Coins arrondis */
    padding: 15px; /* Espacement interne */
    font-family: Arial, sans-serif; /* Police de caractères */
  }

  .custom-title {
    font-family: 'Montserrat ', sans-serif; /* Utiliser une police spécifique */
    font-size: 15px; /* Taille de la police */
    color: #0c0c0c; /* Couleur du texte */
    // font-weight: bold; /* Gras pour un titre plus visible */
    display: flex; /* Alignement horizontal avec l'icône */
    align-items: center; /* Aligner l'icône verticalement au texte */
  }
  
  .custom-title ion-icon {
    font-size: 28px; /* Taille de l'icône */
    margin-right: 8px; /* Espace entre l'icône et le texte */
    color: #080808; /* Couleur de l'icône */
  }
  
  
  
  
  
  
  