<ion-header>
  <ion-toolbar>
    <!-- Bouton de retour en haut à gauche -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <!-- Titre centré -->
    <ion-title  class="title-text">Payment ticket <ion-icon style="color: gold;"  name="receipt-outline"></ion-icon>

    </ion-title>

    <!-- Icône ellipsis-vertical à droite -->
    <ion-buttons slot="end">
      <ion-button (click)="presentPopover2($event); $event.stopPropagation();">
        <ion-icon name="ellipsis-vertical" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Section de tri et filtre -->
  <div class="filter-sort-section">
    <ion-toolbar>
      <ion-item class="sort-item">
        <ion-label>Sort</ion-label>
        <ion-select [(ngModel)]="selectedSort" (ionChange)="sortActivities()">
          <ion-select-option value="date-asc">Date (Ascending)</ion-select-option>
          <ion-select-option value="date-desc">Date (Descending)</ion-select-option>
          <ion-select-option value="name-asc">Name (A-Z)</ion-select-option>
          <ion-select-option value="name-desc">Name (Z-A)</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-buttons slot="end" style="color: gold;" >
        <ion-button fill="clear" (click)="toggleFilter()">
          <ion-icon name="filter-outline" style="color: gold;" ></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>

     <!-- Barre de recherche -->
     <ion-item class="search-bar">
      <ion-icon name="search-outline" style="color: greenyellow;"  slot="start"></ion-icon>
      <ion-input placeholder="Search by transaction type/name" [(ngModel)]="searchQuery" (ionInput)="filterActivities()"></ion-input>
    </ion-item>

    <!-- Sélection de filtre -->
    <ion-item class="filter-item">
      <ion-select [(ngModel)]="selectedFilter" placeholder="Filter by" (ionChange)="filterActivities()">
        <ion-select-option value="overdue">Overdue</ion-select-option>
        <ion-select-option value="due-date">Due Date</ion-select-option>
        <ion-select-option value="next-7-days">Next 7 Days</ion-select-option>
        <ion-select-option value="next-30-days">Next 30 Days</ion-select-option>
        <ion-select-option value="next-3-months">Next 3 Months</ion-select-option>
        <ion-select-option value="next-6-months">Next 6 Months</ion-select-option>
      </ion-select>
    </ion-item>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" *ngFor="let transaction of filteredActivities">
        <ion-card class="transaction-card">
          <ion-card-header>
            <ion-card-title class="custom-title">
              <ion-icon name="file-tray-outline" style="color: gold;" ></ion-icon>
              <span class="title-text">Details transaction</span>
              <ion-icon name="ellipsis-vertical" (click)="presentPopover($event, transaction); $event.stopPropagation();"></ion-icon>
            </ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <ion-list>
              <!-- Quantité -->
              <ion-item>
                <ion-label position="stacked">Quantité</ion-label>
                <ion-text>{{ transaction.quantity }}</ion-text>
              </ion-item>
        
              <!-- Article -->
              <ion-item>
                <ion-label position="stacked">Article</ion-label>
                <ion-text>{{ transaction.article }}</ion-text>
              </ion-item>
        
              <!-- Description -->
              <ion-item>
                <ion-label position="stacked">Description</ion-label>
                <ion-text>{{ transaction.description }}</ion-text>
              </ion-item>
        
              <!-- Prix unitaire -->
              <ion-item>
                <ion-label position="stacked">Prix Unitaire</ion-label>
                <ion-text>{{ transaction.unitPrice | currency:'USD' }}</ion-text>
              </ion-item>
        
              <!-- Prix total -->
              <ion-item>
                <ion-label position="stacked">Prix Total</ion-label>
                <ion-text>{{ transaction.totalPrice | currency:'USD' }}</ion-text>
              </ion-item>

               <!-- Date -->
             <ion-item>
              <ion-label position="stacked">Date</ion-label>
              <ion-text>{{ transaction.date | date }}</ion-text>
            </ion-item>
        
            </ion-list>

            
        
            <!-- Bouton pour effectuer le paiement -->
            <ion-button expand="full" color="primary" (click)="performPayment(transaction)">Effectuer le paiement</ion-button>
        
            <!-- Logo et nom de l'application marchande -->
            <div class="merchant-info">
              <img src="../../assets/original.png" alt="Logo de l'application marchande" class="merchant-logo" />
              <ion-text class="merchant-name">SmartSCHOOL</ion-text>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>



